<div class="container">
  <div class="row title-row">
    <h2 class="title">
      Suscription Paywall
    </h2>
  </div>
  <div class="row button-row">
    <div class="col-lg-6 col-md-6 col-sm-6 button-container">
      <%= link_to "Login", login_path, class:"btn btn-primary"  %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 button-container">
      <%= link_to "Suscribe", signup_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
