// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-lg-6.col-md-6.col-sm-6.button-container {
    text-align: center;
}

.row.button-row {
    margin-top: 10%;
}

.row.title-row {
    text-align: center;
}
