// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.zype-video-player {
  height: 30vh;
  width: 100%;
}

#video-container {
  height: 670px;
  width: 100%;
}

.video-wrapper.col-lg-4.col-md-4.col-sm-6.col-xs-12 {
    text-align: center;
    margin-bottom: 30px;
}

.video-list-container {
    margin-top: 60px;
}
